body {
    margin:0;
}

main {
    min-height: calc(100vh - 300px);
}

.row{
    margin:2rem auto;
}

input:focus,
input:active {
    box-shadow: none !important;
}


.pointer {
    cursor: "pointer"
}

@media all and (max-width:1400px) {
    
    #appContainer{
        width: 70%;
        margin:auto;   
    }
}


@media all and (max-width:576px) {
    
    #appContainer{
        width: 100%;
        margin:auto;   
    }
}


