body {
    margin: 0;
}

main {
    min-height: calc(100vh - 100px) !important;
}

input:focus, input:active {
    box-shadow: none !important;
}

.pointer {
    cursor: "pointer"
}

.rotateBtn::after {
   content: url(/client/images/chevron-right.svg);
   width:15px;
   height:15px;
   display:inline-flex;
   color:black;
}

@media all and (max-width:1400px) {
    #appContainer {
        width: 70%;
        margin: auto;
    }
}

@media all and (max-width:576px) {
    #appContainer {
        width: 100%;
        margin: auto;
    }
}