body {
    margin: 0;
}

main {
    min-height: calc(100vh - 100px) !important;
}

input:focus, input:active {
    box-shadow: none !important;
}

.pointer {
    cursor: "pointer"
}

.nowrap {
    white-space: nowrap;
}

.rotateBtn::after {
   content: url(/client/images/chevron-right.svg);
   width:15px;
   height:15px;
   display:inline-flex;
   color:black;
}

.font-lg {
    font-size: large !important;
}

.grey {
    color: lightgrey;
}

.grey:hover {
    color: rgb(44, 44, 44);
}

.blue {
    color: blue
}

.blue:hover {
    color: lightskyblue;
}

.bg-light-green {
    background-color: #E5F9F6;
    /* color: #33C9A7; */
}

.pointer {
    cursor: pointer;
}

.semi-opaque {
    opacity: 20%;
}


.bg-light-red {
    color: #ED4C78;
    background-color: rgba(237,76,120,.1)!important;
}


.containerX {
    position: relative;
    text-align: center;
    color: white;
  }

  .centered {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

.bannerImageClass {
    display: block;
    max-width:100%;
    /* max-height:95px; */
    width: auto;
    /* height: auto; */
}

@media all and (max-width:1400px) {
    /* #appContainer {
        width: 70%;
        margin: auto;
    } */
}

@media all and (max-width:576px) {
    /* #appContainer {
        width: 100%;
        margin: auto;
    } */
}