.languageCard a:hover {
    text-decoration: none;
}

.languageCard:hover{
    /* background-color: rebeccapurple !important; */
    /* opacity: 50%; */
    opacity:0.5;
    cursor: "pointer" !important;
}

.languageCard{
    text-align: center;
}


.questionMark{
    font-size:3em;
}

.flagImage{
    max-width:4em;
}

.pointer {
    cursor: "pointer"
}


@media all and (max-width: 768px) {
    
    .questionMark{
        font-size:5em;
    }
}