.languageCard a:hover {
    text-decoration: none;
}

.languageCard:hover{
    /* background-color: rebeccapurple !important; */
    /* opacity: 50%; */
    opacity:0.5;
}

.languageCard{
    text-align: center;
}


#questionmark{
    font-size:3em;
}

@media all and (max-width: 768px) {
    
    #questionmark{
        font-size:5em;
    }
}