.correctAnswerInputBox {
    border-color:green;
    border:4px solid green;
}

.correctAnswerInputBox:focus {
    border-color:green;
    border:4px solid green;
}

#correctAnswerCheck{
    color:green;
}


.standardInputStyle {
    border:1px solid blue !important;
    border-radius:10px !important;
}