
.correctAnswerInputBox:focus {
    border-color:rgb(100, 199, 100);
    border:4px solid rgb(112, 196, 112) !important;
    outline:none;
    background-color:#7bd47b5c !important;
    box-shadow: none !important;
}

#correctAnswerCheck{
    color:green;
}


.standardInputStyle {
    border:1px solid blue !important;
    border-radius:10px !important;
}

.correctSpan{
    color:green;
}